# SQL Analysis: Impact of Studying Abroad on Mental Health

This project investigates whether studying abroad affects mental health, focusing on international students (Japanese university survey, 2018). Using **PostgreSQL**, I performed exploratory data analysis with **SQL queries** to analyze social connectedness, acculturative stress, and length of stay as predictors of depression.

In [2]:
%load_ext sql
%sql duckdb://

Connecting to 'duckdb://'

In [4]:
%%sql
SELECT * 
FROM 'students_sql_project.csv'

Running query in 'duckdb://'

+-----------+--------+--------+----------+-----+----------+------+-----------+----------+---------------+---------+--------------+----------+----------+---------+-----+---------+-------+--------+------+-----+-------+-----+-------+-----+--------+----------+------+---------+---------+---------+----------+---------+-------+--------+------+-------+--------+----------+------------+------------+------------+-------------+-----------------+----------+-----------+-------------+----------+-----------+-------------+
| inter_dom | region | gender | academic | age | age_cate | stay | stay_cate | japanese | japanese_cate | english | english_cate | intimate | religion | suicide | dep | deptype | todep | depsev | tosc | apd | ahome | aph | afear | acs | aguilt | amiscell | toas | partner | friends | parents | relative | profess | phone | doctor | reli | alone | others | internet | partner_bi | friends_bi | parents_bi | relative_bi | professional_bi | phone_bi | doctor_bi | religion_bi | alone_bi | others_bi | internet_bi |
+-----------+--------+--------+----------+-----+----------+------+-----------+----------+---------------+---------+--------------+----------+----------+---------+-----+---------+-------+--------+------+-----+-------+-----+-------+-----+--------+----------+------+---------+---------+---------+----------+---------+-------+--------+------+-------+--------+----------+------------+------------+------------+-------------+-----------------+----------+-----------+-------------+----------+-----------+-------------+
|   Inter   |  SEA   |  Male  |   Grad   |  24 |    4     |  5   |    Long   |    3     |    Average    |    5    |     High     |   None   |   True   |  False  |  No |    No   |   0   |  Min   |  34  |  23 |   9   |  11 |   8   |  11 |   2    |    27    |  91  |    5    |    5    |    6    |    3     |    2    |   1   |   4    |  1   |   3   |   4    |   None   |    Yes     |    Yes     |    Yes     |      No     |        No       |    No    |     No    |      No     |    No    |     No    |      No     |
|   Inter   |  SEA   |  Male  |   Grad   |  28 |    5     |  1   |   Short   |    4     |      High     |    4    |     High     |   None   |  False   |  False  |  No |    No   |   2   |  Min   |  48  |  8  |   7   |  5  |   4   |  3  |   2    |    10    |  39  |    7    |    7    |    7    |    4     |    4    |   4   |   4    |  1   |   1   |   1    |   None   |    Yes     |    Yes     |    Yes     |      No     |        No       |    No    |     No    |      No     |    No    |     No    |      No     |
|   Inter   |  SEA   |  Male  |   Grad   |  25 |    4     |  6   |    Long   |    4     |      High     |    4    |     High     |   True   |   True   |  False  |  No |    No   |   2   |  Min   |  41  |  13 |   4   |  7  |   6   |  4  |   3    |    14    |  51  |    3    |    3    |    3    |    1     |    1    |   2   |   1    |  1   |   1   |   1    |   None   |     No     |     No     |     No     |      No     |        No       |    No    |     No    |      No     |    No    |     No    |      No     |
|   Inter   |   EA   | Female |   Grad   |  29 |    5     |  1   |   Short   |    2     |      Low      |    3    |   Average    |  False   |  False   |  False  |  No |    No   |   3   |  Min   |  37  |  16 |   10  |  10 |   8   |  6  |   4    |    21    |  75  |    5    |    5    |    5    |    5     |    5    |   2   |   2    |  2   |   4   |   4    |   None   |    Yes     |    Yes     |    Yes     |     Yes     |       Yes       |    No    |     No    |      No     |    No    |     No    |      No     |
|   Inter   |   EA   | Female |   Grad   |  28 |    5     |  1   |   Short   |    1     |      Low      |    3    |   Average    |   True   |  False   |  False  |  No |    No   |   3   |  Min   |  37  |  15 |   12  |  5  |   8   |  7  |   4    |    31    |  82  |    5    |    5    |    5    |    2     |    5    |   2   |   5    |  5   |   4   |   4    |   None   |    Yes     |    Yes     |    Yes     |      No     |       Yes       |    No    |    Yes    |     Yes     |    No    |     No    |      No     |
|   Inter   |  SEA   |  Male  |   Grad   |  24 |    4     |  6   |    Long   |    3     |    Average    |    4    |     High     |   True   |  False   |  False  |  No |    No   |   6   |  Mild  |  38  |  18 |   8   |  10 |   8   |  7  |   3    |    29    |  83  |    6    |    5    |    4    |    2     |    1    |   1   |   2    |  1   |   5   |   1    |   None   |    Yes     |    Yes     |     No     |      No     |        No       |    No    |     No    |      No     |   Yes    |     No    |      No     |
|   Inter   |   SA   |  Male  |   Grad   |  23 |    4     |  1   |   Short   |    3     |    Average    |    5    |     High     |   True   |  False   |  False  |  No |    No   |   3   |  Min   |  46  |  17 |   6   |  10 |   5   |  3  |   2    |    15    |  58  |    7    |    5    |    7    |    2     |    2    |   1   |   5    |  1   |   1   |   1    |   None   |    Yes     |    Yes     |    Yes     |      No     |        No       |    No    |    Yes    |      No     |    No    |     No    |      No     |
|   Inter   |  SEA   | Female |   Grad   |  30 |    5     |  2   |   Medium  |    1     |      Low      |    1    |     Low      |   True   |   True   |   True  |  No |    No   |   9   |  Mild  |  41  |  16 |   20  |  19 |   15  |  11 |   6    |    40    | 127  |    7    |    2    |    2    |    2     |    6    |   2   |   1    |  1   |   3   |   1    |   None   |    Yes     |     No     |     No     |      No     |       Yes       |    No    |     No    |      No     |    No    |     No    |      No     |
|   Inter   |  SEA   | Female |   Grad   |  25 |    4     |  4   |    Long   |    4     |      High     |    4    |     High     |  False   |  False   |  False  | Yes |  Other  |   7   |  Mild  |  36  |  22 |   12  |  13 |   13  |  10 |   6    |    33    | 109  |    4    |    4    |    4    |    4     |    4    |   4   |   4    |  4   |   4   |   4    |   None   |     No     |     No     |     No     |      No     |        No       |    No    |     No    |      No     |    No    |     No    |      No     |
|   Inter   | Others |  Male  |   Grad   |  31 |    5     |  2   |   Medium  |    1     |      Low      |    4    |     High     |   True   |   True   |  False  |  No |    No   |   3   |  Min   |  48  |  8  |   4   |  5  |   12  |  3  |   2    |    17    |  51  |    1    |    1    |    1    |    2     |    1    |   1   |   2    |  1   |   2   |   1    |   None   |     No     |     No     |     No     |      No     |        No       |    No    |     No    |      No     |    No    |     No    |      No     |
+-----------+--------+--------+----------+-----+----------+------+-----------+----------+---------------+---------+--------------+----------+----------+---------+-----+---------+-------+--------+------+-----+-------+-----+-------+-----+--------+----------+------+---------+---------+---------+----------+---------+-------+--------+------+-------+--------+----------+------------+------------+------------+-------------+-----------------+----------+-----------+-------------+----------+-----------+-------------+
Truncated to displaylimit of 10.

In [13]:
%%sql
SELECT stay, 
       COUNT(*) AS count_int,
       ROUND(AVG(todep), 2) AS average_phq, 
       ROUND(AVG(tosc), 2) AS average_scs, 
       ROUND(AVG(toas), 2) AS average_as
FROM 'students_sql_project.csv'
WHERE inter_dom = 'Inter'  -- The WHERE clause already filters for inter_dom = 'inter'
GROUP BY stay  -- Removed inter_dom since we're already filtering for it
ORDER BY stay DESC
LIMIT 9;

Running query in 'duckdb://'

+------+-----------+-------------+-------------+------------+
| stay | count_int | average_phq | average_scs | average_as |
+------+-----------+-------------+-------------+------------+
|  10  |     1     |     13.0    |     32.0    |    50.0    |
|  8   |     1     |     10.0    |     44.0    |    65.0    |
|  7   |     1     |     4.0     |     48.0    |    45.0    |
|  6   |     3     |     6.0     |     38.0    |   58.67    |
|  5   |     1     |     0.0     |     34.0    |    91.0    |
|  4   |     14    |     8.57    |    33.93    |   87.71    |
|  3   |     46    |     9.09    |    37.13    |    78.0    |
|  2   |     39    |     8.28    |    37.08    |   77.67    |
|  1   |     95    |     7.48    |    38.11    |    72.8    |
+------+-----------+-------------+-------------+------------+

# Result

The table indicates that the higher duration of stay for international students increases the mental health problems, with high numbers in the mental health results that can be seen in the table.